@font-face {
  font-family: JetBrainsMono;
  src: url(./assets/fonts/JetBrainsMono-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: JetBrainsMono;
  src: url(./assets/fonts/JetBrainsMono-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: JetBrainsMono;
  src: url(./assets/fonts/JetBrainsMono-Italic.ttf);
  font-weight: 700;
}
@font-face {
  font-family: JetBrainsMono;
  src: url(./assets/fonts/JetBrainsMono-ExtraBold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Akkurat;
  src: url(./assets/fonts/Akkurat-Mono.OTF);
  font-weight: 700;
}


@font-face {
  font-family: TiemposHeadline;
  src: url(./assets/fonts/TiemposHeadline-Black.otf);
  font-weight: 900;
}

@font-face {
  font-family: TiemposHeadline;
  src: url(./assets/fonts/TiemposHeadline-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: TiemposHeadline;
  src: url(./assets/fonts/TiemposHeadline-Regular.otf);
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background: #252526 !important;
  color: white !important;
  font-family: 'JetBrainsMono', monospace !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

/* Navbar */

/*nav.navbar {
  padding: 18px 0;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}*/

nav.navbar {
  padding: 18px;
  position: fixed;
  display: flex;
  justify-content: center;

  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar a.navbar-brand  {
  cursor: default;
  width: 6%;
  
}
.img2 {
  transform: translate(-100%, 0%);
  transition:  0.5s ease-in-out;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 1;
  cursor: default;
}

.img2:hover {
  transition:  0.5s ease-in-out;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0;
  cursor: default;
}

span.navbar-text {
  display: flex;
  align-items: center;
  text-align: center;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400px;
  
  letter-spacing: 1px;
  padding: 0 50px 15px;
  font-size: 14px;
  opacity: 0.75;
  transition:  0.5s ease-in-out;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

nav.navbar.scrolled {
  
  padding: 0px 0;
  background-color: #252526;
  transition:  0.5s ease-in-out;
  .whoami {
    padding-left: 500px;
    margin-left: 50px;
    transition: 0.5s ease-in-out;
    
  }
  .nav-link.navbar-link {
    transition: 0.7s ease-in-out;
    margin-top: -200px;
  }
  .navbar-text button {
    transition: 0.5s ease-in-out;
  overflow: hidden;
  }
  .img2, .img1 {
    opacity: 0;
    transition: ease-in-out 0.5s;
  }
}



.navbar-text.whoami {
  font-family: 'Akkurat', monospace !important;
  font-size: 24px;
  color: white;
  font-weight: 700;
  cursor: default;
  letter-spacing: -0.80px;
  
  transition: 0.5s ease-out;
  
}
nav.navbar .nav-link.navbar-link {
  
  color: #79A9D1 !important;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  
  font-size: 16px;
    opacity: 1;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
  letter-spacing: 2px;
  color: #CC3F0C !important;
}
/*color: #CC3F0C !important;*/

.navbar-text button {
  font-family: 'Akkurat', monospace !important;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.50rem 1rem;

  font-size: 18px;
  margin-left: 18px;
	position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;
	background-color: transparent;
	transition: 1s ease-in-out;
  border-radius: 9999px;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  border-radius: 9999px;
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.blinking-cursor {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: white;
  animation: blink 1s infinite;
  margin-left: 5px;
}


/* Banner */

.banner {
  margin-top: 0;
  padding: 120px 0 100px 0;
  /*background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;*/
}
.mainbannerimg {
  padding: 30px 0 30px 0;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 100px;
}
/* Line height is essentially font size * 1.2 */
/* Line height is essentially font size * 1.2 */
.nameandlastname {
  font-family: 'TiemposHeadline', monospace !important;
  font-weight: 900;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.05em;
  text-align: start;

}
.introduction {
  font-family: 'TiemposHeadline', monospace !important;
  font-weight: 400;
  padding-top: 8px;
  letter-spacing: -0.2px;
  font-size: 18px;
  text-align: start;
  line-height: 20px;
  word-wrap: break-word;


}

.myphoto {
  width: auto;
  height: 600px;
  margin-top: -448px;
  margin-left: 120px;
}
 

.currently {
  font-family: 'TiemposHeadline', monospace !important;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.2px;
  text-align: start;
  
  margin-left: 1000px;
  margin-top: -320px;
}

.gridsystemconfusing {
  margin-top: -200px;
}

.Diffbutt {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  margin-top: 20px;
  
  font-size: 18px;
  
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  border-radius: 9999px;
}

.Diffbutt span {
  z-index: 1;
}

.Diffbutt::before {
  content: "";
  border-radius: 9999px;
  position: absolute;
  /*background-color: #fff;*/
  background-color: transparent;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 1s ease-in-out;
}

.Diffbutt:hover {
  background-color: #cc3f0c;
  animation-name: colorChange;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s; /* Add a small delay before animation starts */
}

.Diffbutt:hover::before {
  content: "";
	width: 100%;
	height: 100%;
	position: absolute;
  border-radius: 9999px;
  animation-name: colorChange;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1.2s;
}


@keyframes colorChange {
  0% {
    /* Set color 1 */
    background-color: #cc3f0c;
  }
  50% {
    /* Set color 2 */
    background-color: #79a9d1;
  }
  100% {
    /* Set color 1 */
    background-color: #cc3f0c;
  }
}
.underscore-word {
  position: relative;
  display: inline-block;
  
  cursor: default;
  
}
.underscore-word::after {
  content: "";
  position: absolute;
  margin-top: -10px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}
.theamountofdetail {
  color: red;

}
.underscore-word:hover::after {
  transform: scaleX(1);
}
.shouldbegood {
  color: red;
}
/* Sliding strip, really bad code here and in react */

.long-rectangle {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60px;
  background-color: #cc3f0c;
  margin-top: -68px;
  display: flex;
  align-items: center;
}

.text-motion-container {
  /*display: flex;
  */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sliding-text {
  position: relative;
  transform: translateY(-100%);
  font-family: 'TiemposHeadline', monospace !important;
  font-weight: 900;
  color: black;
  font-size: 24px;
  white-space: nowrap;
}
/*  //////////////Work/////////////  */
.skill {

  position: relative;
  height: 100vh;
}

Table.projectsTable {
  border-collapse: collapse;
  margin-top: 50px;
}
Table.projectsTable td {
  
  padding: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;

  color: #fff;
  background-color: #252526;
}

.cursor-image {
  position: fixed;
  pointer-events: none;
  z-index: 5000;
  transition: transform 0.3s ease;
}

.cursor-image img {
  width: 500px;
  height: 222px; /* Adjust the size as per your preference */
  opacity: 0.6;
  transition: 0.3s ease;
}

.hoverable-tr {
  position: relative;
  border-bottom: 1px solid white;
  border-Top: 1px solid white;
}

.hoverable-tr:hover .cursor-image {
  display: block;
}

.hoverable-tr:hover td {
  /* Add any styling for the hovered row */
}

.skill-bx {
  background: #252526;
  border-radius: 64px;
  text-align: left;
  
  padding: 60px 50px;
  margin: 169px 0 169px 0;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}


/* Footer  */
.Footer {
  
  background-color: #252526;

  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  z-index: 9999;

  font-family: 'TiemposHeadline', monospace !important;
  
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally center content */
  justify-content: center; /* vertically center content */
}



.Footer h1 {
  letter-spacing: -0.80px;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
}

.Footer button {
  letter-spacing: -0.80px;
  font-size: 28px;
  font-weight: 400;
  display: block;
  margin: 20px auto; 
  margin-top: 20px;/* horizontally center the button */
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 34px;
  border-radius: 9999px;
}

.social-icons {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  margin: 0 20px 0 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
